{% extends "new-old/base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Reset Password</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }} Go to <a href="{{ url_for('auth.login') }}">login page</a>.
        </div>
        {% endif %}
        {% endwith %}
        <form action="/resetpassword" method="POST">

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="oldpassword" placeholder="Old Password" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="newpassword" placeholder="New Password" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="confirmnewpassword" placeholder="Confirm New Password">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Reset Password</button>
        </form>
    </div>
</div>
{% endblock %}